@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Book To Movie";
}
<div class="text-center">
    <h1 class="display-4">The Top-Grossing Book-to-Film Adaptations of All Time </h1>
</div>


<html>
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <style>

        img {
            width: 100%;
        }

        .responsive {
            padding: 0 8px;
            float: left;
            width: 20%;
        }
    </style>
</head>
<body>
    <div class=".responsive">
        <div class="topleft">
            <i class="fas fa-heart"></i>
        </div>
    </div>

    <img src="~/img/books.jpg" alt="Book to Movie" />

    <p>
        What do a boy wizard, brooding vampires, and a BDSM-obsessed billionaire have in common? Well, they all star in some of the highest-grossing film adaptations in history, of course. We've all heard the phrase, "I'll just wait for the movie." Honestly, it's something I've been guilty of saying when a book seemed too long or daunting to read. But there's something cosmic that happens when the worlds of bookworms and movie geeks collide. I mean, it's one thing to top the bestseller list, but it's another to smash the box office charts. When a title manages to succeed at both, it's a true mark of rich storylines and captivating characters.
        Here, we've gathered a list of the 15 highest-grossing book-to-film adaptations based on the cumulative box office figures for each franchise. If the list were full of selects based on individual box office grosses, it would consist mostly of Harry Potter and Lord of the Rings titles. Also notably absent from this list is one thing that is currently conquering the box office: superheroes. While one could argue that caped crusaders, like Batman, Superman, and Captain America, are also book-to-movie adaptations, they technically hail from comic book strips. So, we've decided to focus on properties that began as novels. Ahead, the most successful book-to-film adaptations of all time.
    </p>

    <img src="~/img/saga.jpg" />

    <h2>'Twilight'</h2>

    <p>
        Based On: Twilight by Stephenie Meyer, published in 2005 and followed by five novels.

        The Films: Let's run down the checklist on this one. Hot teen stars? Check. A gushing romance? Yep. Fantasy elements? Of course. This one has all the makings of a hit. When the first film launched in 2008, it was unsure whether or not it would be a hit, but it turns out that the vampire romance film was exactly what audiences were craving. The original film launched Kristen Stewart and Robert Pattinson into the global spotlight. The first four novels (Meyer recently released Midnight Sun) were adapted into five films, splitting the then-final novel into two films. The film series concluded in 2012 with a final tally of $3.3 billion at the box office.
    </p>

    <img src="~/img/it.jpg" />
    <h3>'IT'</h3>

    <p>
        Based On: IT by Stephen King, published in 1986.

        The Films: Although Stephen King's literary classic was adapted previously by way of the 1990 miniseries, 2017's IT: Chapter One was the first time that Pennywise haunted the big screen. The film went on to become the highest-grossing horror movie in history, raking in $701.8 million at the box office. King's novel is so long—23 chapters, to be exact—that is was split into two films. Combined with the 2019 sequel, the IT saga has grossed a scary-good $1.1 billion.
    </p>

        <div class="text-center">
        <a href="https://www.marieclaire.com/best-books/" style="color:orangered"> THE BEST BOOKS OUT THERE</a>
        </div>

</body>
</html>
