@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        
            img {
            width: 100%;
        }
        .responsive {
            padding: 0 8px;
            float: left;
            width: 20%;
        }
    </style>
</head>
<body>
    <div class=".responsive">
        <div class="topleft">
            <i class="fas fa-heart"></i>
        </div>
    </div>

    <img src="~/img/cinema.jpg" alt="Movie Time" width="600" height="400" />

    <div class="text-center">
        <h1 class="display-4">Save your list </h1>
        <a class="display-4">Travel through best movies </a>

        <p>Watch them <a href="https://www.foxnews.com">10 sites to watch movies for free</a>.</p>

    </div>

    <p>  </p>
    <div class="text-center">
        <h2> Keep Filming! </h2>
    </div>

    <p> </p>

    <img src="~/img/bestfilms.jpg" alt="Movie Time" />

</body>
</html>
